body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 2rem 1rem;
  background-color: #ffffff;
  color: #333;
  text-align: left;
}

header {
  font-weight: bold;
}

canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 15px;
}

.container {
  position: relative;
}
 
#startButton {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007acc;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#startButton:hover {
  background-color: white;
  color: black
}

#playAgainButton {
  background-color: #007acc;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#playAgainButton:hover {
  background-color: white;
  color: black
}

#gameOverScreen {
  width: 300px;
  height: auto;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

#leaderboardList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
