body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 2rem 1rem;
  background-color: #ffffff;
  color: #333;
  text-align: left;
}

header {
  font-weight: bold;
}

canvas {
  max-width: 100%;
  height: auto;
}

#startButton {
  display: block;
  /* margin: 1rem auto; */
  /* padding: 0.5rem 2rem; */
  /* font-size: 1.2rem; */
  background-color: #007acc;
  color: white;
  /* border: none; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

#startButton:hover {
  background-color: #005a9c;
}
