body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 2rem 1rem;
  background-color: #f8f9fa;
  color: #333;
  text-align: left;
}

header {
  padding: 2rem 1rem;
  font-weight: bold;
  /* background: #007acc; */
  /* color: white; */
  /* padding: 2rem 1rem; */
}

canvas {
  touch-action: none;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  /* margin: 2rem auto; */
  /* max-width: 600px; */
}
