body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  text-align: left;
}

header {
  /* background: #007acc; */
  /* color: white; */
  /* padding: 2rem 1rem; */
}

section {
  /* margin: 2rem auto; */
  /* max-width: 600px; */
}
